extends layout

block content
  h1 MC-Watch
  p Instance: #{awsStatus.Name}
  if awsStatus.Name === "stopped"
    form(action="/", method="post")
      input(type="submit" value="Start")
  p Minecraft: #{mcStatus ? 'online (' + mcStatus.players.length + '/' + mcStatus.maxplayers + '): ' + mcStatus.players.map((p) => p.name).join(', ') + ( count ? ' and empty for ' + count + ' minutes' : '' ) : 'offline'}
  h3 Players Stats
  table
    tr
      th Name
      th Playing Time
      th Server Joins
      th Deaths
      th Player Kills
      th Mob Kills
      th Walked (km)
    each ps in playersStatus
      tr
        td #{ps.player}
        td #{humanizeDuration(ps.stats['stat.playOneMinute']*60, { units: ['d', 'h', 'm'], round: true })}
        td #{ps.stats['stat.leaveGame'] || 0}
        td #{ps.stats['stat.deaths'] || 0}
        td #{ps.stats['stat.playerKills'] || 0}
        td #{ps.stats['stat.mobKills'] || 0}
        td #{_.round(ps.stats['stat.walkOneCm'] / 100 / 1000, 1)}
